.App {
  text-align: center;
}

.NavLinks a{
  margin: 10px;
  text-decoration: none;
  color: gray;
}
.NavLinks a.active{
  text-decoration: none;
  color: black;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(195, 211, 240);
}
